<a href="https://colab.research.google.com/github/PolarBear-289/sentiment-analysis/blob/main/Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
train_data = pd.read_csv('train_tweets.csv')

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [ ]:
train_data['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [ ]:
train_data.head(10)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation
5   6      0  [2/2] huge fan fare and big talking before the...
6   7      0   @user camping tomorrow @user @user @user @use...
7   8      0  the next school year is the year for exams.ð...
8   9      0  we won!!! love the land!!! #allin #cavs #champ...
9  10      0   @user @user welcome here !  i'm   it's so #gr...

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

# Cleaning the data

In [ ]:
def drop_features(features,data):
    data.drop(features,inplace=True,axis=1)

In [ ]:
def process_tweet():
    #return ",".join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])", " ",tweet.lower().split()))
    #train_data['processed_tweets'] = train_data['tweet'].str.replace('(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])', '')
    train_data['processed_tweets'] = train_data['tweet'].str.replace('[^A-Za-z0-9 ]', '')
    train_data['processed_tweets'] = train_data['processed_tweets'].str.replace('@[a-zA-Z0-9]+', '')

In [ ]:
import re
## example ## 
print("Text before filtering:\nouch...junior is angryð#got7 #junior #yugyo..., @user")
print("\n\nText after filtering:")
re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])", "","ouch...junior is angryð#got7 #junior #yugyo..., @user")

Text before filtering:
ouch...junior is angryð#got7 #junior #yugyo..., @user


Text after filtering:

'ouchjunior is angrygot7 junior yugyo '

In [ ]:
#train_data['processed_tweets'] = train_data['tweet'].apply(process_tweet)
process_tweet()

train_data.head(10)

   id  ...                                   processed_tweets
0   1  ...   user when a father is dysfunctional and is so...
1   2  ...  user user thanks for lyft credit i cant use ca...
2   3  ...                                bihday your majesty
3   4  ...  model   i love u take with u all the time in u...
4   5  ...               factsguide society now    motivation
5   6  ...  22 huge fan fare and big talking before they l...
6   7  ...   user camping tomorrow user user user user use...
7   8  ...  the next school year is the year for exams can...
8   9  ...  we won love the land allin cavs champions clev...
9  10  ...         user user welcome here   im   its so gr8

[10 rows x 4 columns]

In [ ]:
drop_features(['id','tweet'],train_data)

In [ ]:
train_data.head(10)

   label                                   processed_tweets
0      0   user when a father is dysfunctional and is so...
1      0  user user thanks for lyft credit i cant use ca...
2      0                                bihday your majesty
3      0  model   i love u take with u all the time in u...
4      0               factsguide society now    motivation
5      0  22 huge fan fare and big talking before they l...
6      0   user camping tomorrow user user user user use...
7      0  the next school year is the year for exams can...
8      0  we won love the land allin cavs champions clev...
9      0         user user welcome here   im   its so gr8

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   label             31962 non-null  int64
 1   processed_tweets  31962 non-null  object
dtypes: int64(1), object(1)
memory usage: 499.5+ KB

In [ ]:
train_data['processed_tweets'] = train_data['processed_tweets'].apply(lambda x: x.split())
train_data.head(10)

   label                                   processed_tweets
0      0  [user, when, a, father, is, dysfunctional, and...
1      0  [user, user, thanks, for, lyft, credit, i, can...
2      0                            [bihday, your, majesty]
3      0  [model, i, love, u, take, with, u, all, the, t...
4      0             [factsguide, society, now, motivation]
5      0  [22, huge, fan, fare, and, big, talking, befor...
6      0  [user, camping, tomorrow, user, user, user, us...
7      0  [the, next, school, year, is, the, year, for, ...
8      0  [we, won, love, the, land, allin, cavs, champi...
9      0      [user, user, welcome, here, im, its, so, gr8]

In [ ]:
from nltk.stem.snowball import SnowballStemmer

stemmer = SnowballStemmer("english")
train_data['processed_tweets']= train_data['processed_tweets'].apply(lambda x: [stemmer.stem(i) for i in x])
train_data.head(10)

   label                                   processed_tweets
0      0  [user, when, a, father, is, dysfunct, and, is,...
1      0  [user, user, thank, for, lyft, credit, i, cant...
2      0                            [bihday, your, majesti]
3      0  [model, i, love, u, take, with, u, all, the, t...
4      0                   [factsguid, societi, now, motiv]
5      0  [22, huge, fan, fare, and, big, talk, befor, t...
6      0  [user, camp, tomorrow, user, user, user, user,...
7      0  [the, next, school, year, is, the, year, for, ...
8      0  [we, won, love, the, land, allin, cav, champio...
9      0        [user, user, welcom, here, im, it, so, gr8]

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
import string

def process(text):
    nopunc = set(char for char in list(text) if char not in string.punctuation)
    nopunc = " ".join(nopunc)
    return [word for word in nopunc.lower().split() if word.lower() not in stopwords]

train_data['processed_tweets'] = train_data['processed_tweets'].apply(process)
train_data.head(10)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

   label                                   processed_tweets
0      0  [user, selfish, drag, run, kid, dysfunct, father]
1      0  [dont, pdx, disapoint, user, credit, caus, whe...
2      0                                  [bihday, majesti]
3      0                   [love, ur, model, time, take, u]
4      0                        [societi, factsguid, motiv]
5      0  [22, fan, disput, befor, leav, pay, get, talk,...
6      0                      [danni, user, tomorrow, camp]
7      0  [actorslif, revolutionschool, exam, think, hat...
8      0  [cav, love, allin, clevelandcavali, cleveland,...
9      0                            [user, welcom, gr8, im]

In [ ]:
def join_tokens(tweet):
    return " ".join(tweet)

train_data['processed_tweets'] = train_data['processed_tweets'].apply(join_tokens)

In [ ]:
train_data.head(10)

   label                                   processed_tweets
0      0          user selfish drag run kid dysfunct father
1      0  dont pdx disapoint user credit caus wheelchair...
2      0                                     bihday majesti
3      0                          love ur model time take u
4      0                            societi factsguid motiv
5      0  22 fan disput befor leav pay get talk huge cha...
6      0                           danni user tomorrow camp
7      0  actorslif revolutionschool exam think hate yea...
8      0  cav love allin clevelandcavali cleveland land ...
9      0                                 user welcom gr8 im

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(train_data["processed_tweets"],train_data["label"], test_size = 0.2, random_state = 42)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

count_vect = CountVectorizer(stop_words='english')
transformer = TfidfTransformer(norm='l2',sublinear_tf=True)

x_train_counts = count_vect.fit_transform(x_train)
x_train_tfidf = transformer.fit_transform(x_train_counts)

print(x_train_counts.shape)
print(x_train_tfidf.shape)

(25569, 30232)
(25569, 30232)

In [ ]:
x_test_counts = count_vect.transform(x_test)
x_test_tfidf = transformer.transform(x_test_counts)

print(x_test_counts.shape)
print(x_test_tfidf.shape)

(6393, 30232)
(6393, 30232)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_tfidf,y_train)
y_pred = model.predict(x_test_tfidf)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_pred,y_test)

0.9405599874863132

In [ ]:
confusion_matrix(y_pred,y_test)

array([[5937,  380],
       [   0,   76]])

In [ ]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      0.94      0.97      6317
           1       0.17      1.00      0.29        76

    accuracy                           0.94      6393
   macro avg       0.58      0.97      0.63      6393
weighted avg       0.99      0.94      0.96      6393

In [ ]:
from sklearn.pipeline import Pipeline
text_model = Pipeline([('TFIDF',CountVectorizer()),('model',MultinomialNB())])

In [ ]:
text_model.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('TFIDF',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('model',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [ ]:
import joblib
joblib.dump(text_model,'Sentiment_Analysis')

['Sentiment_Analysis']

In [ ]:
# Creating WebApp using Streamlit
!pip install streamlit --quiet
!pip install pyngrok==4.1.1 --quiet
from pyngrok import ngrok

In [ ]:
%%writefile apps.py
import streamlit as st
import sklearn
import joblib
model = joblib.load('/content/Sentiment_Analysis')
st.title('Sentiment Analysis')
ip = st.text_input("Enter the message")
op = model.predict([ip])
if st.button('Predict'):
  st.title(op[0])

Overwriting apps.py

In [ ]:
!nohup streamlit run app.py &
url=ngrok.connect(port='8051')
url

nohup: appending output to 'nohup.out'

t=2021-05-06T16:25:31+0000 lvl=warn msg="failed to start tunnel" pg=/api/tunnels id=791356469aa08c26 err="Your account may not run more than 2 tunnels over a single ngrok client session.\nThe tunnels already running on this session are:\n[]\n\r\n\r\nERR_NGROK_324\r\n"

PyngrokNgrokHTTPError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')